/* css reset */
* {
  margin: 0;
  padding: 0;
}

/* navbar start */
nav {
  display: flex;
  position: fixed;
  background-color: #7ac9ac;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 34px;
}

.home,
.about,
.contact {
  color: #323232;
}

nav .logo {
  display: flex;
  margin-left: 12px;
  width: 112px;
  height: 60px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(222, 245, 245);
}

nav ul li a:hover {
  color: rgb(244, 255, 255);
}

/* navbar end */

/* hero section start */
h1 {
  padding-top: 78px;
}

.hero {
  display: flex;
}
/* hero section end */

/* our partners start */

.our-partners {
  text-align: center;
}

.partners-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 240px 240px;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.partners-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #7ac9ac;
  border-radius: 15px;
}

/* our partners end */
