/* css reset */
* {
  margin: 0;
  padding: 0;
}

/* navbar start */
nav {
  display: flex;
  position: fixed;
  background-color: #7ac9ac;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 51px;
}

nav .logo {
  display: flex;
  margin-left: 35px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(222, 245, 245);
}

nav ul li a:hover {
  color: rgb(244, 255, 255);
}

/* navbar end */

/* hero section start */
h1 {
  padding-top: 78px;
}
/* hero section end */
