@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

/* css reset */
* {
  margin: 0;
  padding: 0;
}

/* navbar start */
nav {
  display: flex;
  position: fixed;
  background-color: #7ac9ac;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 34px;
}

.home,
.about,
.contact {
  color: #323232;
}

nav .logo a img {
  display: flex;
  margin-left: 12px;
  width: 195px;
  height: 60px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(222, 245, 245);
}

nav ul li a:hover {
  color: rgb(244, 255, 255);
}

/* navbar end */

/* form section start */

.form-group {
  margin-top: 50px;
  margin-left: 50px;
  z-index: -1;
}

h1 {
  margin-left: 15vw;
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 100px;
}

fieldset {
  border: none;
  letter-spacing: 2px;
  padding: 5px;
  margin: 15px;
  border-radius: 8px;
}

input,
textarea {
  border: 2px solid #eee;
  border: 0;
  padding: 10px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 35vw;
  color: rgb(81, 59, 59);
}

fieldset::placeholder {
  color: silver;
  background-color: aliceblue;
}

input[type="submit"] {
  border: 10px solid #242323;
  border: 0;
  padding: 10px;
  box-shadow: 30px 8px 30px 8px rgba(41, 35, 35, 0.06);
  width: 10vw;
  margin-left: 20px;
  border-radius: 10px;
  margin-bottom: 5vw;
  cursor: pointer;
  z-index: -1;
}

input[type="submit"]:hover {
  background-color: #7ac9ac;
  cursor: pointer;
  color: #ffffff;
}

.contact img {
  object-fit: contain;
  width: 35%;
  height: 35%;
  position: relative;
  top: -90vh;
  right: -55vw;
  z-index: -1;
}

.form,
.contact.me {
  z-index: -1;
}

h2 {
  text-align: center;
  z-index: 4;
  position: relative;
  top: -37vh;
}

span {
  font-weight: bold;
  color: #7ac9ac;
}

/* footer section start */

footer {
  display: flex;
  flex-direction: column;
  background-color: #7ac9ac;
  justify-content: center;
  height: 30vh;
  width: 100vw;
  align-items: center;
  gap: 12px;
}

footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 42px;
}

footer img {
  align-items: center;
  width: 180px;
  height: 62px;
}

footer ul li a {
  text-decoration: none;
  color: rgb(222, 245, 245);
}

footer ul li a:hover {
  color: rgb(244, 255, 255);
}
